body{
    font-family: Arial;
    padding:0 10px;
}

.form{
    margin:0;
    margin-bottom: 50px;
}

.containerPosti{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    background-color: lightgray;
    padding: 10px 0;
    padding-top: 20px;
}

.form-label{
    margin-top:20px;
}
.cattedra{
    display: block;
    margin: 0;
    padding: 20px 50px 20px 50px;
    border: 2px;
    border-color: rgb(139,69,19);
    border-style: solid;
    background-color: rgba(222,184,135,0.8);
    margin-bottom: 10px;
}
.cattedra p{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}
.formIn.prima-riga , .formIn.seconda-riga,.formOut.prima-riga, .formOut.seconda-riga{
    margin-right:50px;
}
.formOut{
    justify-content: center;
}

.btnCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 18px 50px;
    height:100px;
}


.subBtn{
    font-size: 30px;
    padding:20px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 0, 1);
    transition: background-color 0.5s, padding 0.3s;
}
.subBtn:hover{
    background-color: rgba(255, 128, 0, 0.805);
    padding:25px;
}
        .fila{
    display: flex;
    flex-direction: row;
    width:100%;
    height:110px;
    align-items:center;
    margin-bottom: 10px;
}
        .formIn, .formOut{
            display: flex;
            flex-direction: column;
            flex:1;
            height:100px;
            background-color: aqua;
            border:4px;
            border-color: black;
            border-style:solid;
            border-radius: 4px;
            align-items: center;
            flex-wrap: wrap;
            margin: 15px 5px 0 5px;
            justify-content: center;
            transition: padding 0.3s, margin-left 0.3s, margin-right 0.3s;
            
}
.formIn:hover, .formOut:hover{
    padding: 5px;
    margin-left:0;
    margin-right:0;

}
.formBox{
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
    flex:0.6;
    width:80%;
    
}
.formBox::placeholder, .formBox::-webkit-input-placeholder, .formBox::-moz-placeholder{
    opacity:0.7;
}

.formIn.prima-riga:hover , .formIn.seconda-riga:hover,.formOut.prima-riga:hover, .formOut.seconda-riga:hover{
    margin-right:45px;
}

.errorFormIn {
    background-color: red !important;
    }

.btnCell{
    flex:1;
    display:flex; justify-content: center;
}


.dataContenitore{
    display: flex;
    width:100%;
    justify-content: left;
    align-items: center;
    height:10px;
}

.data{
    margin-left:20px;
    font-size: small;
    color:rgb(80, 80, 80);
}